body{
    background-image: url("../pictures/hakkımda/1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    background-color: rgba(0, 0,0, 0.1);
    
}

#navbar{
    background-color:#184874;
    opacity: 0.7;
}
#headerSection .row{
    height:100vh;
    text-shadow: 2px 2px 10px black;
}
#headerSection h1 {
    Color:white;
}
#box{
    font-size: 1.2rem;
    border: 2.5px;
}
