html{
    background-color: darkcyan;
}
#navbar{
    background-color:#184874;
    opacity: 0.7;
}
br{ color: darkcyan;

}
#ref{
    background-color: darkcyan ;
}
#box{
    margin: auto;
}
#description{
    display: block;
    word-wrap: break-word;
}
